<meta charset="UTF-8">
<script src="../DOM/js/vue.js"></script>

<div id="app">
    <template v-if="logado">
        <p>Usuário logado: {{ nome }}</p>
        <p>Perfil: Admin </p>
    </template>
  
    <p v-else-if="anomimo">Navegando como Anônimo</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado">
        {{ logado ? 'Sair' : 'Entrar' }} </button>
    <input type="checkbox" v-model="anomimo">   
    <hr>

    <footer v-show="logado">
        Densenvolvido pora {{nome}}
    </footer>
        <footer v-show="!logado">
            Densenvolvido para anonimo
        </footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'maria',
            logado: false,
            anomimo:true
        },
    })
</script>