<meta charset="UTF-8">
<script src="../DOM/js/vue.js"></script>

<div id="app">
    <p v-if="logado">Usuário logado: {{ nome }}</p>
    <p v-else-if="anomimo">Navegando como Anônimo</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado">
        {{ logado ? 'Sair' : 'Entrar' }} </button>
    <input type="checkbox" v-model="anomimo">    
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'maria',
            logado: false,
            anomimo:true
        },
    })
</script>